<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 mb-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Scan this QR code to switch your session to a mobile device.</h2>
    <%= raw @svg %>
  </div>
</div>


